<h1>Video stream home page</h1>

<p><%= @videos.first[:title] %></p>


<ul>
  <% @videos.each do |video| %>
    <li><a href="/videos/<%= video['id'] %>"><%= video['title'] %></a></li>
  <% end %>
</ul>

<a href="/new">Add a movie</a>
